
#a{
    height: 200px;
    width: 200px;
    background-color: rgb(255,255,255);
    
}
#b{
    height: 200px;
    width: 200px;
    background-color: rgb(220, 220, 12);
}
#c{
    height: 200px;
    width: 200px;
    background-color: rgb(43, 182, 182);
}
body{
    height: 200px;
    width: 200px;
    background-color: black;
}