#aa{
    height:100px;
    width:100px;
    background-color: rgba(0,0,78,13);
    display:inline-block;
}
#bb{
    height:100px;
    width:100px;
    background-color:royalblue;
    display:inline-block;
}
#cc{
    height:100px;
    width:100px;
    background-color: rgba(234,0,8,6);
    display:inline-block;
}
